
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="~/js/facebookInicioSessin.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>prueba2</title>
</head>
<body>
</body>
</html>
